:root{
    --main-bg-color: #FFFFFF;
    --second-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

/* Navigation */

.logo{
    text-decoration: none;
    color: var(--accent-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo .logo-color{
    color: #000;
}
.list,
.contacts{
    list-style: none;
}
.site-nav .nav-link{
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus{
    color: var(--accent-text-color);
}
.site-nav .nav-link.current{
    color: var(--accent-text-color);
}
.contacts .header-contacts{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.contacts .header-contacts:hover,
.contacts .header-contacts:focus{
    color: var(--accent-text-color);
}

            /* --STUDIO-- */
/* MAIN */
.main-section{
    background-color: var(--accent-bg-color);
}
.main-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: var(--main-bg-color);
text-transform: uppercase;
}

.main-button{
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
    background-color: var(--accent-text-color);
    border-style: none;
    border-radius: 4px;
    }

/* SECTION  */
.section-tiltle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* QUALITIES */

.qualities-list .qualities-tiltle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
}
.qualities-list .qualities-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* DIRECTION */


/* TEAM */

.team{
    background-color: var(--second-bg-color);
}
.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

        /* --PORTFOLIO-- */

.buttons-filter{
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--second-bg-color);
    border-style: none;
    border-radius: 4px;
}
.buttons-filter:hover,
.buttons-filter:focus{
    color: var(--main-bg-color);
    background-color: var(--accent-text-color);
}

.link{
    text-decoration: none;
}
.products-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.products-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* FOOTER */

.footer{
    background-color: var(--accent-bg-color);
}
.footer .logo-inverse-color{
    color: var(--main-bg-color);
}
.footer .address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-bg-color);
}
.contacts .footer-contacts{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contacts-text-color);
}
.contacts .footer-contacts:hover,
.contacts .footer-contacts:focus{
    color: var(--accent-text-color);
}